<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>Poor Twitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


 <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>-->
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
</head>
<body>
<div id="vue-app">
    <div class="container">
       <!--<span v-html="myTitle" style="text-align: center;"></span>-->
        <h1>Welcome to Poor Twitter</h1>
        <div class="row" >
            <div class="col-md-6">
                <h2>Send Twit</h2>
                <form action="javascript:void(0)" method="post" >
                    <div class="input-group">
                      <input type="hidden" ref="csrf_token" value="{{ csrftoken }}">
                      <input type="text" class="form-control" placeholder="Name" maxlength="50" name="name" id="name">
                    </div>

                    <div class="input-group">
                        <textarea maxlength="50" name="text" class="form-control" id="text" ></textarea>
                    </div>

                    <!--<button @click.prevent="addtwit()">Send Twit</button>-->
                    <button onclick="addtwit()">Send Twit</button>
                </form>
            </div>
            <div class="col-md-6">
                <h2>Twits </h2>
                <div>

                   <!--<ul v-if="items">
                        <li v-for="(item,index) in items">
                            {{ item.name }}<br><br>item: {{ item.created_at }}
                        </li>
                    </ul>
                    <p v-else>Empty list</p>-->

{#                    {% for item in items %}#}
{#                        {{ item.name }}<br><br>item: {{ item.created_at }}#}
{#                    {% endfor %}#}
                    <ul id="twitlist">

                    </ul>
                </div>
            </div>

        </div>

    </div>
    </div>

</div>
<script>
    $( document ).ready(function() {
        getAlltwit();
    });
    function addtwit(){
        var name = $("#name").val();
        var text = $("#text").val();
        $.ajax({
        url: "api/twit-items/",
        type: "post",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrftoken }}"
        },
        data: JSON.stringify({
            name:name,
            text:text,
        }) ,
        success: function (data) {
            //var newData = JSON.parse(data);
            try {
                getAlltwit()
            }
            catch(err) {
                console.log(err);
            }
        }
    });
    }
    function getAlltwit(){
        $.ajax({
        url: "api/twit-items/",
        type: "get",
        data: {} ,
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrftoken }}"
        },
        success: function (data) {
            var newData = JSON.parse(JSON.stringify(data));
            try {
                console.log("deneme");
                console.log(newData);
                 $("#twitlist").html("");
                $.each(newData.data, function( index, value ) {
                  $("#twitlist").append('<li><span>'+value.name+'</span><br><span>'+value.text+'</span></li><br><span>'+value.created_at+'</span></li>');
                });
            }
            catch(err) {

            }
        }
    });
    }
</script>
<!--<script type="text/javascript">
  new Vue({
    el: "#vue-app",
      data () {
        return {
            name: '',
            items: [],
            myTitle: '<h1>Welcome to Poor Twitter</h1>',
        }
      },
      mounted: function() {
        this.getAlltwit();
      },
      methods: {
        addtwit() {
            this.name = this.$refs.name.value;
            this.text = this.$refs.text.value;
              const article = {
                     name:this.name,
                     text:this.text,
                 };
              const headers = { "Content-Type": "application/json","X-CSRFToken": "{{ csrftoken }}" };
                 axios.post("api/twit-items/", article,{headers})
                .then(response => {
                    this.getAlltwit();
                });
          },
          getAlltwit() {
            axios.get("api/twit-items/")
            .then((response)=>{
                if(response.data.status=="success") {
                     this.items = response.data.data;
                }
            });
          }
      }
  });
</script>-->
</body>
</html>